extends base

block content
  main.main
    .card-container
    
      each route in routes
        .card
          .card__header
            .card__picture
              .card__picture-overlay &nbsp;
              img.card__picture-img(src=`/img/routes/${route.image}`, alt=`${route.name}`)
            h3.heading-tertirary
              span= route.title

          .card__details
            h4.card__sub-heading= route.learn

          .card__footer
            span.card__footer-location=`No. ${route.number}`
            span.card__footer-elements=`${route.elements.length} : Elements`
            a.btn.btn--green.btn_small-footer(href=`/route/${route.slug}`) Details
