extends base

block content
  main.main
    .card-container
    
      each route in routes
        .card
          .card__header
            .card__picture
              .card__picture-overlay &nbsp;
              img.card__picture-img(src=`/img/routes/${route.image}`, alt=`${route.name}`)
            h3.heading-tertirary
              span= route.title

          .card__details
            h4.card__sub-heading= route.learn

          .card__footer
            p
              span=`${route.number}`
              | 
              a.btn.btn--green.btn_small(href=`/route/${route.slug}`) Details
              |
              span=`${route.elements.length}`
