extends base

block content
  section.dcard-location-container
    .route_box-image
      .dcard-picture
        img.card__picture-img(src=`/img/routes/${route.image}`, alt=`${route.name}`)
    .route_box-elements
      each element in route.elements
        h4.element__prompt=`${element.order} : ${element.prompt}`
    .route_box-svg
      div
        +svg-icon.medium(svg-icon-name='seesaw-1')
        div.svg__radio__group
          input(type='radio', name='one', value='1', id='btn1')
          label(for='one') BTN1
          input(type='radio', name='one', value='2')#btn100
          label(for='two') BTN2
    .route_box-details
      - const paragraphs = route.details.split('\n');
      each p in paragraphs
        p.description__text= p

