extends base

block content
  section.dcard-location-container
    .route_box-image
      .dcard-picture
        img.card__picture-img(src=`/img/routes/${route.image}`, alt=`${route.name}`)
    .route_box-elements
      each element in route.elements
        h4.element__prompt=`${element.order} : ${element.prompt}`
    .route_box-svg
      div
        //- +svg-icon.orange.medium(svg-icon-name='shield')
        +svg-icon.medium(svg-icon-name='seesaw-1')
      //- img.svgIcon(src=`/img/svg/seesaw100.svg`, alt='hello')
    .route_box-details
      - const paragraphs = route.details.split('\n');
      each p in paragraphs
        p.description__text= p

